.imgSlideContainer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.imgSlide {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease;
}

//animation der hintergrundbilder
@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}